<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>List</title>
  <link rel="Stylesheet" href="style.css" />
 </head>
 <body>
  <h1>Categoria buscada</h1>
  <table>	
  {{#rows}}
  	<tr>
  		<td>{{id}}</td>
  		<td>{{name}}</td>
  		<td>{{childrenlds}}</td>
  	</tr>
  {{/rows}}
  </table>
 </body>
</html>