<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Categorias</title>
  <link rel="Stylesheet" href="style.css" />
 </head>
 <body>
  <h1>Categorias</h1>
  <p> Adicione as categorias que deseja.</p>
 </body>
</html>